aside{
    width: 20%;
    min-height: 93.75vh;
    margin: 0;
    float: left;
    background-color: rgba(83, 243, 168, 0.7);
}

p{
    margin: 0;
    padding: 5px 0px;
}

ul{
    margin: 0;
}

body{
    background: url(../../img/glade-5598324_1280.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-me{

    width: 78%;
    float: right;
    margin: 10px auto;
    background-color: rgb(255,255,255,0.7);
}

.App{
    margin-right: 1.5%;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

aside ul {
    list-style-type: none;
  }

.header{
    padding-left: 20px;
}

li{
    padding: 5px 0px;
}

.inline li{
    float: left;
    margin: 0 20px;
}