aside{
    width: 20%;
    min-height: 93.75vh;
    margin: 0;
    background-color: rgb(100, 220, 210);
}

p{
    margin: 0;
    padding: 5px 0px;
}

ul{
    margin: 0;
}

body{
    background: url(../../images/glade-5598324_1280.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}