.image-array{
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    max-width: 100%;
}

img{
    width: 24%;
    margin: 0%;
    border: 1px outset lightgray;
}

a.button {
    padding: 3px 16px;
    border: 1.5px outset green;
    border-radius: 5px;
    color: black;
    background-color: rgba(83, 243, 168);
    text-decoration: none;
    margin: 0.5% 0.5%;
}

.button-line{
    display: flex;
    justify-content: end;
    padding-right: 2%;
}