footer{
    position:absolute;
    bottom:0;
    width: 100%;
    height: 5vh;
    background-color: rgba(40, 191, 120, 0.7);
    border-top: 2px solid rgba(8, 130, 73, 0.8);

}

.footer-content{
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.footer-link{
    display: flex;
    margin: auto 2vh auto 2vh;
    align-items: center;
    font-size: x-large;
    color: black;
}

.btn-text{
    text-decoration: none;
    color:black;
    font-weight: bold;
}